{% extends 'profile/basePage.html.twig' %}

{% set activePage = 5 %}

{% block title %}Змінити пароль{% endblock %}

{% block pageContent %}
    <div class="card overflow-hidden p-4">
        <div class="row no-gutters row-bordered row-border-light">
            {{ form_errors(form) }}
            {{ form_start(form) }}
            <div class="form-outline mb-4">
                {{ form_label(form.currentPassword) }}
                <div class="input-group" {{ stimulus_controller('password-visibility') }}>
                    {{ form_widget(form.currentPassword, {
                        'attr': { 'class': 'form-control', 'data-password-visibility-target': "input"} })
                    }}
                    <button data-action="password-visibility#toggle" class="input-group-text">
                        <i class="fa fa-eye" data-password-visibility-target="icon"></i>
                    </button>
                </div>
                <div class="control__help-text">{{ form_errors(form.currentPassword)|striptags|raw }}</div>
            </div>
            <div class="form-outline mb-4">
                {{ form_label(form.newPassword) }}
                <div class="input-group" {{ stimulus_controller('password-visibility') }}>
                    {{ form_widget(form.newPassword, {
                        'attr': { 'class': 'form-control', 'data-password-visibility-target': "input"} })
                    }}
                    <button data-action="password-visibility#toggle" class="input-group-text">
                        <i class="fa fa-eye" data-password-visibility-target="icon"></i>
                    </button>
                </div>
                <div class="control__help-text">{{ form_errors(form.newPassword)|striptags|raw }}</div>
            </div>
            <div class="form-outline mb-4">
                {{ form_label(form.confirmPassword) }}
                <div class="input-group" {{ stimulus_controller('password-visibility') }}>
                    {{ form_widget(form.confirmPassword, {
                        'attr': { 'class': 'form-control', 'data-password-visibility-target': "input"} })
                    }}
                    <button data-action="password-visibility#toggle" class="input-group-text">
                        <i class="fa fa-eye" data-password-visibility-target="icon"></i>
                    </button>
                </div>
                <div class="control__help-text">{{ form_errors(form.confirmPassword)|striptags|raw }}</div>
            </div>
            <div class="text-right mt-3">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.reload();">Cancel</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock pageContent %}