{% macro render(books) %}
    <select class="form-select w-25" id="sort-list" {{ stimulus_controller('discover') }}
            {{ stimulus_action('discover', 'redirectTo', 'change') }}>
        <option
                value="{{ addFilter({'sortBy': 'p.createdAt'}) }}"
                {% if checkFilter({'sortBy': 'p.createdAt'}) %}selected{% endif %}>
            За новинками
        </option>
        <option
                value="{{ addFilter({'sortBy': 'p.discountPercent'}) }}"
                {% if checkFilter({'sortBy': 'p.discountPercent'}) %}selected{% endif %}>
            За знижкою
        </option>
        <option
                value="{{ addFilter({'sortBy': 'p.discountPrice'}) }}"
                {% if checkFilter({'sortBy': 'p.discountPrice'}) %}selected{% endif %}>
            Від дорогих
        </option>
        <option
                value="{{ addFilter({'sortBy': 'p.discountPrice', 'sortDirection': 'ASC'}) }}"
                {% if checkFilter({'sortBy': 'p.discountPrice', 'sortDirection': 'ASC'}) %}selected{% endif %}>
            Від дешевих
        </option>
    </select>
{% endmacro %}