{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="container card w-50 bg-form-card">
        <div class="card-body m-auto w-75">
            <h5>Reset your password</h5>

            {{ form_start(requestForm) }}
                <div class="form-outline mb-4">
                    {{ form_label(requestForm.email) }}
                    {{ form_widget(requestForm.email, { 'attr': { 'class': 'form-control' } }) }}
                    <div class="control__help-text">{{ form_errors(requestForm.email)|striptags|raw }}</div>
                </div>
                <div class="form-outline mb-4">
                    <small>
                        Enter your email address, and we will send you a
                        link to reset your password.
                    </small>
                </div>
                <div class="row">
                    <button type="submit" class="btn m-auto btn-primary btn-block mb-4 w-75">
                        Send password reset email
                    </button>
                </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock content %}
