{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% import ('components/priceBlock.html.twig') as priceBlock %}
{% import ('components/productInfo.html.twig') as productInfo %}

{% block body %}
    <div class="container-fluid p-4">
        <div class="card">
            <section class="py-5">
                <div class="container px-2 my-1">
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-4">
                            <div class="fixed-block">
                                <img class="card-img-top"
                                     src="{{ book.coverUrl }}" alt="{{ book.title }}">
                                <div class="container pt-3">
                                    {% for product in book.products %}
                                        <div class="product-info {% if product.type != type %}d-none{% endif %}">
                                                {{ priceBlock.render(product.price, product.discountPrice, product.discountPercentage) }}
                                                {{ productInfo.render(product.type, book.stockCount, product.formats) }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row my-3">
                                    <div class="col-6">
                                        <button class="btn btn-success flex-shrink-0" type="button">
                                            <i class="fa fa-shopping-bag"></i>
                                            Додати в кошик
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-danger flex-shrink-0" type="button">
                                            <i class="fa fa-heart"></i>
                                            Додати в бажане
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 position-relative">
                            <h1 class="display-5 fw-bolder">{{ book.title }}</h1>
                            <div class="mb-1">
                                <a href="{{ path('discover', { 'author': book.author.slug }) }}">
                                    {{ book.author.name }}
                                </a>
                            </div>
                            <div class="container my-3">
                                {% for category in book.categories %}
                                    <a class="btn btn-outline-secondary"
                                       href="{{ path('discover', { 'category': category.slug }) }}">
                                        {{ category.name }}
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="container my-3 mx-1">
                                <span class="fw-bold row">Формат</span>
                                {% for product in book.products %}
                                    <a href="{{ path('book_show', { 'slug': book.slug, 'type': product.type }) }}"
                                            class="btn btn-outline-secondary {% if product.type == type %}active{% endif %}">
                                        {% if product.type == 'paper' %}
                                            <p><i class="fa fa-book"></i> Паперова</p>

                                        {% elseif product.type == 'electronic' %}
                                            <p><i class="fa fa-download "></i> Електронна</p>
                                        {% endif %}
                                        {{ product.discountPrice ?? product.price ~ ' грн' }}
                                    </a>
                                {% endfor %}
                            </div>
                            <p class="lead">{{ book.description }}</p>
                            <div class="container-fluid mt-4">
                                <h3>Характеристики</h3>
                                <div class="row">
                                    <div class="col-3 fw-bold">Мова</div>
                                    <div class="col-9">{{ book.language }}</div>
                                    <div class="col-3 fw-bold">Рік видання</div>
                                    <div class="col-9">{{ book.publishedYear }}</div>
                                    <div class="col-3 fw-bold">Видавництво</div>
                                    <div class="col-9">
                                        <a href="{{ path('discover', { 'publisher': book.publisher.slug }) }}">
                                            {{ book.publisher.name }}
                                        </a>
                                    </div>
                                    <div class="col-3 fw-bold">Перекладач</div>
                                    <div class="col-9">{{ book.translator }}</div>
                                    <div class="col-3 fw-bold">Кількість сторінок</div>
                                    <div class="col-9">{{ book.pageCount }}</div>
                                    <div class="col-3 fw-bold">Ілюстрації</div>
                                    <div class="col-9">{{ book.illustration ? 'Присутні' : 'Немає' }}</div>
                                    <div class="col-3 fw-bold">Тип обкладинки</div>
                                    <div class="col-9">{{ book.isSoftCover ? "М'яка" : 'Тверда' }}</div>
                                    <div class="col-3 fw-bold">Розміри книги</div>
                                    <div class="col-9">{{ book.width ~ ' см. x ' ~ book.height ~ ' см.' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
