{% macro render(book) %}
    {% import ('components/priceBlock.html.twig') as priceBlock %}

    <div class="card book-preview">
        <div class="img-wrapper">
            <img src="{{ book.coverUrl }}" class="d-block w-100" alt="{{ book.title }}">
        </div>
        <div class="card-body book-preview-data">
            <div class="row text-center book-title">
                <a href="{{ path('book_show', { 'slug': book.slug, 'type': book.type }) }}"
                   class="fw-bolder book-preview-title">
                    "{{ book.title }}"
                </a>
            </div>
            <div class="row text-center">
                <a href="#" class="fw-bolder text-secondary">{{ book.author }}</a>
            </div>
            <div class="row">
                <div class="card-text">
                    {{ priceBlock.render(book.price, book.discountPrice, book.discountPercentage) }}
                </div>

                <div class="card-text fw-bold row">
                    {% if book.type == "paper" %}
                        <span class="text-success">
                            <i class="fa fa-shopping-bag"></i>
                            У наявності
                        </span>
                    {% elseif book.type == "electronic" %}
                        <span class="text-info">
                            <i class="fa fa-download"></i>
                            Електронна книга
                        </span>
                    {% elseif book.type is null %}
                        <span class="text-muted">
                                Немає в наявності
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}